{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">
    <table width='100%'>
        <thead>
            <tr>
                <th>Instructor</th>
                <th>Attendance</th>
                <th>Actions</th>
            </tr>
            <tbody>
                {% for instructor in instructors %}
                <tr>
                    <td>
                        <span style="background-image: url({{instructor.avatar_url}})"></span>
                        {{ instructor.name }}
                    </td>
                    <td>{{ instructor.services }}</td>
                    <td><a href="/instructors/{{instructor.id}}">Show</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
</div>

{% endblock content %}