{% extends "layout.njk" %}

{% block content %}

    <div class="card">
        <section
            class="avatar" 
            style=`background: url({{ instructor.avatar_url }}) no-repeat center center / cover`>
        </section>

        <section class="details">
            <h3>Detalhes</h3>
            <div class="item">
                <div class="item-title">Instructor</div>
                <div class="item-description">{{ instructor.name }}</div>
            </div>
            <div class="item">
                <div class="item-title">Age</div>
                <div class="item-description">{{ instructor.age }}</div>
            </div>
            <div class="item">
                <div class="item-title">Gender</div>
                <div class="item-description">{{ "Masculino" if instructor.gender == "M" else "Feminino"}}</div>
            </div>
            
            <div class="item">
                <div class="item-title">Sports</div>
                <div> 
                    {% for service in instructor.services %}
                        <span>{{service}}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="item">
                <div class="item-title">Since</div>
                <div class="item-description">{{ instructor.created_at }}</div>
            </div>

            <a class="button" href="/instructors/{{instructor.id}}/edit">Editar</a>
            
        </section>
    </div>

{% endblock content %}