{% extends "layout.njk" %}

{% block content %}
    
    <form class="card" method="POST" action="/members">
        <section 
            class="avatar" 
            style="background: url(https://freesvg.org/img/generic-avatar.png) no-repeat center center / cover">
        </section>
        <section class="details">
            <h3>Create Member</h3>
            
            {% include 'members/fields.njk' %}
            
        </section>
    </form>

{% endblock content %}